@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttf") format("ttf"), url("/fonts/Helvetica-Bold.ttf") format("ttf"); }
@font-face {
  font-family: "TRON";
  src: url("../fonts/TR2N.TTF"); }
.loading-page {
  cursor: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#1c1c1c, #020202);
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  overflow: hidden; }
  .loading-page .logo {
    user-select: none;
    font-size: 3rem;
    text-align: center;
    font-family: "TRON";
    color: #41edfc;
    text-shadow: #41edfc 0px 0px 25px;
    margin-top: 0;
    transition: all 0.5s ease; }

.loader {
  height: 2px; }
  .loader__1 {
    width: 50%;
    height: 2px;
    background: #41edfc;
    position: fixed;
    left: -50%;
    transition: all 2s cubic-bezier(0.19, 0.89, 0.75, 0.29); }
  .loader__2 {
    width: 50%;
    height: 2px;
    position: fixed;
    right: 0%;
    width: 50%;
    background: orange;
    transform: translateX(100%);
    transition: all 2s cubic-bezier(0.19, 0.89, 0.75, 0.29); }

.loadingBrightness_cyan {
  animation: loadingBrightness_cyan 2s infinite linear; }

.loadingBrightness_orange {
  animation: loadingBrightness_orange 2s infinite linear; }

@keyframes loadingBrightness_cyan {
  0% {
    box-shadow: 0px 0px 5px #41edfc; }
  20% {
    box-shadow: 0px 0px 10px #41edfc; }
  40% {
    box-shadow: 0px 0px 2px #41edfc; }
  60% {
    box-shadow: 0px 0px 15px #41edfc; }
  80% {
    box-shadow: 0px 0px 10px #41edfc; }
  100% {
    box-shadow: 0px 0px 30px #41edfc; } }
@keyframes loadingBrightness_orange {
  0% {
    box-shadow: 0px 0px 5px orange; }
  20% {
    box-shadow: 0px 0px 10px orange; }
  40% {
    box-shadow: 0px 0px 2px orange; }
  60% {
    box-shadow: 0px 0px 15px orange; }
  80% {
    box-shadow: 0px 0px 10px orange; }
  100% {
    box-shadow: 0px 0px 30px orange; } }
body {
  overflow: hidden;
  margin: 0;
  background: #020202;
  font-size: 62.5%;
  transition: all 700ms cubic-bezier(1, 0.47, 0.27, 0.99);
  transform: translate3d(0px, 0px, 0px); }

.main__parallax {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh; }
  .main__parallax__container {
    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50px;
    left: -50px; }
    .main__parallax__container__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .main__parallax__container__character {
      position: absolute;
      bottom: -25px;
      left: 20%;
      z-index: 5;
      max-width: 100%;
      width: 57%; }
.main__home {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover; }
  .main__home__container {
    position: absolute;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 90%;
    text-align: center; }
    .main__home__container__logo {
      color: #41edfc;
      text-shadow: #41edfc 0px 0px 25px;
      font-size: 5.2rem;
      font-family: "TRON"; }
    .main__home__container__explore {
      margin: 70px 25px; }
      .main__home__container__explore li a {
        outline: none;
        padding: 55px 25px;
        border: 1px solid #41edfc;
        border-radius: 50%;
        box-shadow: 0px 0px 5px #41edfc;
        color: white;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 0.7rem;
        font-family: "Helvetica";
        transition: all 0.5s ease; }
      .main__home__container__explore li a:hover {
        box-shadow: 0px 0px 15px #41edfc; }
.main__smoke {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
  user-select: none; }
  .main__smoke img {
    width: 100%; }
  .main__smoke__1 {
    top: 50%;
    animation: smokeOne 120s infinite linear;
    user-select: none; }
  .main__smoke__2 {
    top: -50%;
    animation: smokeOne 110s infinite linear;
    user-select: none; }
  .main__smoke__3 {
    animation: smokeOne 70s infinite linear;
    user-select: none; }
  .main__smoke__4 {
    animation: smokeTwo 90s infinite linear;
    user-select: none; }
  .main__smoke__5 {
    animation: smokeTwo 900s infinite linear;
    user-select: none; }
.main__pedagogicalMention {
  position: fixed;
  bottom: 10px;
  z-index: 10;
  width: 100vw;
  color: white;
  text-align: center;
  font-style: italic;
  font-family: "Helvetica";
  opacity: 0.75; }

*[class^="smoke_"] {
  position: absolute;
  z-index: -5; }

@keyframes smokeOne {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }
@keyframes smokeTwo {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

/*# sourceMappingURL=home.css.map */
