@charset "UTF-8";
body {
  background: url(../images/soundtrack.jpg);
  background-position: top;
  background-size: 100vw 100vh; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?8865811");
  src: url("../font/fontello.eot?8865811#iefix") format("embedded-opentype"), url("../font/fontello.woff?8865811") format("woff"), url("../font/fontello.ttf?8865811") format("truetype"), url("../font/fontello.svg?8865811#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-play:before {
  content: '\e801'; }

/* '' */
.icon-pause:before {
  content: '\e802'; }

/* '' */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

div#notification-area {
  color: #D0CCCC;
  z-index: 2;
  position: fixed;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  background: rgba(128, 128, 128, 0.5);
  line-height: 30px; }

#content {
  position: absolute;
  width: 100%; }

#audio-visualisation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#slider-controls {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.slider-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px; }

.category-title {
  font-family: "helvetica";
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.slider-checkbox {
  margin-top: 35px;
  padding-left: 15px;
  height: 20px; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked + label:before {
  content: "";
  font-size: 33px;
  color: #ECECEC;
  line-height: 14px;
  background-color: #EC3139; }

.disconnected label.checkbox-label {
  display: none; }

label.checkbox-label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #aaa;
  border-radius: 3px; }

input[type=range] {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  width: 50px;
  height: 120px; }

input[type=range]::-webkit-slider-runnable-track {
  background-color: #333;
  width: 6px; }

input[type=range]::-moz-range-track {
  background-color: #333;
  width: 6px; }

input[type=range]::-ms-track {
  background-color: white;
  width: 6px;
  height: 120px;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /*border: 1px solid #000000;*/
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  margin-left: -5px;
  outline: 0; }

input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%; }

input[type=range]::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 0;
  background: #ffffff; }

.slider {
  float: left; }

.slider-label {
  font-family: "helvetica";
  width: 50px;
  text-align: center;
  font-size: 0.7em;
  color: white;
  margin-top: 5px; }

.control-category:before {
  content: '';
  position: absolute;
  width: 1px;
  top: 0;
  height: 180px;
  background: rgba(255, 255, 255, 0.3); }

#leap-motion-indicator {
  margin: 0 auto;
  width: 600px;
  margin-top: -29px;
  display: flex; }

.leap-motion-logo {
  background: #EC3139;
  width: 80px;
  height: 40px;
  margin-left: -78px;
  border-radius: 10px; }

.disconnected .leap-motion-logo {
  margin-left: 0; }

.leap-motion-line {
  width: 535px;
  height: 3px;
  background: #EC3139;
  margin-top: 18px;
  z-index: -1; }

.usb-logo {
  margin-top: -3px;
  display: none; }

.disconnected .usb-logo {
  display: block; }

#instructions {
  line-height: 23px;
  font-family: "helvetica";
  margin: 0 auto;
  width: 535px;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 100; }

#controls {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 1.3em;
  color: white;
  font-family: sans-serif; }

#controls > div {
  margin: 10px;
  cursor: pointer; }

#controls > div:hover {
  margin: 10px;
  cursor: pointer;
  color: #888888; }

/*# sourceMappingURL=soundtrack.css.map */
