body{
  background: url(../images/characters_bg.png);
  background-position: top;
  background-size: 100vw 100vh;
}

/* CHARACTERS DESCRIPTION */

.characters__description{

  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
}

.characters__description__container{

  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: center;
}

.imageDescription p{
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 1rem;
    font-family: "Helvetica";
    line-height: 1.5rem;
}

/* CHARACERS HEXA */

.hexGrid__container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70%;
}

.hexGrid{
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50vw;
  height: 40vh;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
}
.hex::after{
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
  content:'';
}
.hexIn{
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  width:96%;
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          
}
.hexIn * {
  position: absolute;
  visibility: visible;
}
.hexPic {
    display:block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
  cursor: pointer;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

.name2, .name3, .name4, .name5, .name6, .name7, .name8, .name9{
  opacity: 0.5;
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  right: -100%;
  left: -100%;
  margin: 0 auto;
  width: auto;
  height: 100%;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}


//JS CLASSES

.onHover {
    opacity: 1;
}

.noHover{
    opacity: 0.2;
}

/*** HOVER EFFECT  **********************************************************************/




/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

