body{
    background: url(../images/characters_bg.png);
    background-position: top;
    background-size: 100vw 100vh;
  }

//OPEN ANIMATION
.comingFade{
    animation: fade 2s cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  
  @keyframes fade{
    0%{
        opacity: 0;
        transform: translateY(10vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0vh);
    }
  }

//SLIDER
.gallery__container{
    &__slider{
        position: relative;
        height: 35vw;

        perspective: 1750px;
        transform-style: preserve-3d;
    }
    &__slider label{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 45%;
        height: 69%;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.4s ease;
    }
    &__slider img{
        width: 100%;
        height: 100%;
    }
}

[type=radio]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3{
    transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4{
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5{
    transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1{
    transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2{
    transform: translate3d(30%,0,-200px);
}

