@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf") format("ttf"),
           url("/fonts/Helvetica-Bold.ttf") format("ttf");
   }

@font-face {
    font-family: "TRON";
    src: url("../fonts/TR2N.TTF"),
   }

$cyan-color : #41edfc;
$text-shadow : $cyan-color 0px 0px 25px;
$text : 'Helvetica';
$logo-text : 'TRON';

//OPEN ANIMATION
.opacityFade{
    animation: degradation 10s cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  
  @keyframes degradation{
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }

//Loading page, it is on top of website in loading
.loading-page{
    position: fixed;
    z-index: 1000;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#1c1c1c, #020202 );
    cursor: none;
    .logo{
        margin-top: 0;
        color: #41edfc ;
        text-align: center;
        text-shadow: #41edfc 0px 0px 25px;
        font-size: 3rem;
        font-family: $logo-text;
        transition: all 0.5s ease;

        user-select: none;;

    }
}

//LOADER Bar
.loader{
    height: 2px;
    //Two loader : Animated by the position in JS
    &__1{
        position: fixed;
        left: -50%;
        width: 50%;
        height: 2px;
        background: $cyan-color;
        transition: all 2s cubic-bezier(.19,.89,.75,.29);

    }
    &__2{
        position: fixed;
        right: 0%;
        width: 50%;
        width: 50%;
        height: 2px;
        background: orange;
        transition: all 2s cubic-bezier(.19,.89,.75,.29);
        transform: translateX(100%);

    }
}

//Classes added in Js for animatiion of the loader
.loadingBrightness_cyan{
    animation : loadingBrightness_cyan 2s infinite linear
}

.loadingBrightness_orange{
    animation : loadingBrightness_orange 2s infinite linear
}
 
@keyframes loadingBrightness_cyan{
    0%{
        box-shadow: 0px 0px 5px $cyan-color; 
    }
    20%{
        box-shadow: 0px 0px 10px $cyan-color; 
    }
    40%{
        box-shadow: 0px 0px 2px $cyan-color; 
    }
    60%{
        box-shadow: 0px 0px 15px $cyan-color; 
    }
    80%{
        box-shadow: 0px 0px 10px $cyan-color; 
    }
    100%{
        box-shadow: 0px 0px 30px $cyan-color; 
    }
}

@keyframes loadingBrightness_orange{
    0%{
        box-shadow: 0px 0px 5px orange; 
    }
    20%{
        box-shadow: 0px 0px 10px orange; 
    }
    40%{
        box-shadow: 0px 0px 2px orange; 
    }
    60%{
        box-shadow: 0px 0px 15px orange; 
    }
    80%{
        box-shadow: 0px 0px 10px orange; 
    }
    100%{
        box-shadow: 0px 0px 30px orange; 
    }
}

body{
    overflow: hidden;
    margin: 0;
    background: #020202;
    font-size: 62.5%;
    transition: all 700ms cubic-bezier(1,.47,.27,.99);
    transform: translate3d(0px, 0px, 0px);
  }

.main{
    &__parallax{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        &__container{
        position: absolute;
        top: -50px;
        right: -50px;
        bottom: -50px;
        left: -50px;
        &__image{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
        &__character{
            position: absolute;
            bottom: -25px;
            left: 20%;
            z-index: 5;
            max-width: 100%;
            width: 57%;
            }
        }
    }
    &__home{
        // position: relative;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-size: cover;
        &__container{
            position: absolute;
            top: 0;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            height: 90%;
            text-align: center;
            &__logo{
                color: $cyan-color;
                text-shadow: $text-shadow;
                font-size: 5.2rem;
                font-family: $logo-text;
            }
            &__explore{
                margin: 70px 25px; 
                li{
                    a{
                        padding: 55px 25px; //Change padding to have cercle or not
                        outline: none;
                        border: 1px solid $cyan-color;
                        border-radius: 50%;
                        box-shadow: 0px 0px 5px $cyan-color;
                        color: white;
                        text-decoration: none;
                        letter-spacing: 2px;
                        font-size: 0.7rem;
                        font-family: $text;
                        transition: all 0.5s ease;
                    }
                    a:hover{
                        box-shadow: 0px 0px 15px $cyan-color;
                    }
                }
            }
        }
    }
    &__smoke{
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        opacity: 0.1;

        user-select: none;
        img{
            width: 100%;
        }
        &__1{
            top: 50%;
            animation: smokeOne 120s infinite linear;

            user-select: none;
        }
        &__2{
            top: -50%;
            animation: smokeOne 110s infinite linear;

            user-select: none;
        }
        &__3{
            animation: smokeOne 70s infinite linear;

            user-select: none;
        }
        &__4{
            animation: smokeTwo 90s infinite linear;

            user-select: none;
        }
        &__5{
            animation: smokeTwo 900s infinite linear;

            user-select: none;
        }
    }
    &__pedagogicalMention{
        position: fixed;
        bottom: 10px;
        z-index: 10;
        width: 100vw;
        color: white;
        text-align: center;
        font-style: italic;
        font-family: $text;
        opacity: 0.75;
    }
}

*[class^="smoke_"]{
    position: absolute;
    z-index: -5;
    // opacity: 0.1;
}

@keyframes smokeOne{
    0%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(100%)
    }
}

@keyframes smokeTwo{
    0%{
        transform: translateX(100%)
    }
    100%{
        transform: translateX(-100%)
    }
}



