// ABSOLUTE MENU

// MENU CONTAINER 

.menu {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../images/menu.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 62.5%;
    font-family: 'Helvetica Neue';
}

// HIDE MENU

.hidden {
    display: none;
}

// MENU HEADER

.menu__header {
    top: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 20%;

    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 100%;
    }
    & svg{
        cursor: pointer;
    }
}

/* MAIN CONTAINER */

.main__container {
    position: absolute;
    top: 50%;
    left: 50%;
}

/* LINK MENU */

.menu__item {

    /* SYNOPSIS */
    &__top__right {
        position: absolute;
        bottom: 100px;
        left: 100px;
        width: 200px;
        height: 50px;
        border-top: 0.05rem solid #ffffff;
        border-left: 0.05rem solid #ffffff;

        &__label {
            position: absolute;
            top: -0.6em;
            left: calc(100% + 20px);
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            font-weight: 300;
            font-size: 20px;
        }
    }

    /* CHARACTERS */
    &__bottom__right {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 200px;
        height: 50px;
        border-bottom: 0.05rem solid #ffffff;
        border-left: 0.05rem solid #ffffff;

        &__label {
            position: absolute;
            bottom: -0.6em;
            left: calc(100% + 20px);
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            font-weight: 300;
            font-size: 20px;
        }
    }

    /* CHARACTERS */

    &__bottom__left {
        position: absolute;
        top: 100px;
        right: 100px;
        width: 200px;
        height: 50px;
        border-right: 0.05rem solid #ffffff;
        border-bottom: 0.05rem solid #ffffff;

        &__label {
            position: absolute;
            right: calc(100% + 20px);
            bottom: -0.6em;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            font-weight: 300;
            font-size: 20px;
        }
    }

    /* GALLERY */

    &__top__left {
        position: absolute;
        right: 100px;
        bottom: 100px;
        width: 200px;
        height: 50px;
        border-top: 0.05rem solid #ffffff;
        border-right: 0.05rem solid #ffffff;

        &__label {
            position: absolute;
            top: -0.6em;
            right: calc(100% + 20px);
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            font-weight: 300;
            font-size: 20px;
        }
    }

}

// blue line effect under link

.blue__line{
    text-decoration: none;
}

.blue__line:after {
    display: block;
    width: 94%;
    border-bottom: solid 0.15rem cyan;
    content: '';
    transition: transform 250ms ease-in-out;
    transform: scaleX(0);
}

.blue__line:hover:after {
    transform: scaleX(1);
}

.blue__line:hover{
    display: inline-block;
    font-weight: 300;
    cursor: pointer;
}


/* CIRCLE NEON CENTER */

.circle {
    position: absolute;
    display: inline-block;
    width: 13rem;
    height: 13rem;
    border: 2rem solid #151515;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0rem 0rem 2.5rem cyan;
    transform: translate(-8.5rem, -8.5rem);
    animation: myanimation1 10s infinite;
}

@keyframes myanimation1 {
    0% {
        box-shadow: 0rem 0rem 2.5rem cyan;
    }

    25% {
        box-shadow: 0rem 0rem 2.5rem white;
    }

    50% {
        box-shadow: 0rem 0rem 2.5rem rgb(255, 225, 55);
    }

    75% {
        box-shadow: 0rem 0rem 2.5rem orange;
    }

    100% {
        box-shadow: 0rem 0rem 2.5rem cyan;
    }
}

.circle2 {
    position: absolute;
    display: inline-block;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 0rem 0rem 2.5rem cyan;
    transform: translate(-6.5rem, -6.5rem);
    animation: myanimation 10s infinite;
}

@keyframes myanimation {
    0% {
        box-shadow: inset 0rem 0rem 2.5rem cyan;
    }

    25% {
        box-shadow: inset 0rem 0rem 2.5rem white;
    }

    50% {
        box-shadow: inset 0rem 0rem 2.5rem rgb(255, 225, 55);
    }

    75% {
        box-shadow: inset 0rem 0rem 2.5rem orange;
    }

    100% {
        box-shadow: inset 0rem 0rem 2.5rem cyan;
    }
}