body{
    background: url(../images/soundtrack.jpg);
    background-position: top;
    background-size: 100vw 100vh;
  }


@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'fontello';
    src: url('../font/fontello.eot?8865811');
    src: url('../font/fontello.eot?8865811#iefix') format('embedded-opentype'),
         url('../font/fontello.woff?8865811') format('woff'),
         url('../font/fontello.ttf?8865811') format('truetype'),
         url('../font/fontello.svg?8865811#fontello') format('svg');
}

//OPEN ANIMATION
.opacityFade{
    animation: degradation 5s cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  
  @keyframes degradation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
  

.comingFade{
    animation: fade 2s cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  
  @keyframes fade{
    0%{
        opacity: 0;
        transform: translateY(10vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0vh);
    }
  }

[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    margin-right: .2em;
    margin-left: .2em;
    width: 1em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: "fontello";
    line-height: 1em;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: " ";
    font-size: 0;
}

// html {
//     font-family: 'Lato', sans-serif;
//     color: #333;
// }

// body {
//     background: #1B1B1B;
// }

div#notification-area {
    position: fixed;
    z-index: 2;
    margin-top: 40px;
    width: 100%;
    background: rgba(128, 128, 128, 0.5);
    color: #D0CCCC;
    text-align: center;
    line-height: 30px;
}


#content {
    position: absolute;
    // top: 60%;
    // transform: translateY(-50%);
    width: 100%;
}

#audio-visualisation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: red;
}

#slider-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
}

.category-title {
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "helvetica";
}

.slider-checkbox {
    margin-top: 35px;
    padding-left: 15px;
    height: 20px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label:before {
    background-color: #EC3139;
    color: #ECECEC;
    content: "";
    font-size: 33px;
    line-height: 14px;
}

.disconnected label.checkbox-label {
    display: none;
}

label.checkbox-label:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #aaa;
    content: "";
}

input[type=range] {
    width: 50px;
    height: 120px;

    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 6px;
    background-color: #333;
}
input[type=range]::-moz-range-track {
    width: 6px;
    background-color: #333;
}
input[type=range]::-ms-track {
    margin: 0px;
    padding: 0px;
    width: 6px;
    height: 120px;
    border: 0 none;
    background-color: white;

    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    margin-left: -5px;
    width: 16px;
    /*border: 1px solid #000000;*/
    height: 36px;
    outline: 0;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;

    -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
input[type=range]::-ms-thumb {
    margin-left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
}

.slider {
    float: left;
}

.slider-label {
    margin-top: 5px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 0.7em;
    font-family: "helvetica";
}

.control-category:before {
    position: absolute;
    top: 0;
    width: 1px;
    height: 180px;
    background: rgba(255,255,255, 0.3);
    content:'';
}

#leap-motion-indicator {
    display: flex;
    margin: 0 auto;
    margin-top: -29px;
    width: 600px;
}

.leap-motion-logo {
    margin-left: -78px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background: #EC3139;
}

.disconnected .leap-motion-logo {
    margin-left: 0;
}

.leap-motion-line {
    z-index: -1;
    margin-top: 18px;
    width: 535px;
    height: 3px;
    background: #EC3139;
}

.usb-logo {
    display: none;
    margin-top: -3px;
}

.disconnected .usb-logo {
    display: block;
}

#instructions {
    margin: 0 auto;
    margin-top: 10px;
    width: 535px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 15px;
    font-family: "helvetica";
    line-height: 23px;
}

#controls {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    color: white;
    font-size: 1.3em;
    font-family: sans-serif;
}

#controls>div {
    margin: 10px;
    cursor: pointer;
}

#controls > div:hover {
    margin: 10px;
    color: #888888;
    cursor: pointer;
}
